cxf/ConnectivityDemos/src/com/axonivy/connectivity/ws/eon/T97_ZEBC_COP_PUG_CREATE_PO_V3_1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="urn:sap-com:document:sap:rfc:functions" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsoap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="urn:sap-com:document:sap:rfc:functions">
  <wsdl:documentation>
    <sidl:sidl xmlns:sidl="http://www.sap.com/2007/03/sidl"/>
  </wsdl:documentation>
  <wsdl:types>
    <xsd:schema attributeFormDefault="qualified" targetNamespace="urn:sap-com:document:sap:rfc:functions">
      <xsd:simpleType name="char1">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="1"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char10">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="10"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char12">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="12"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char20">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="20"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char220">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="220"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char255">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="255"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char30">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="30"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char32">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="32"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char40">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="40"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char50">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="50"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="numeric3">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="3"/>
          <xsd:pattern value="\d*"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="numeric5">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="5"/>
          <xsd:pattern value="\d*"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="numeric6">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="6"/>
          <xsd:pattern value="\d*"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="ZEBCS_COP_PUG_PURCHASE_ORDER">
        <xsd:sequence>
          <xsd:element name="QMNUM" type="tns:char12"/>
          <xsd:element name="PUG_CASE_ID" type="tns:char20"/>
          <xsd:element name="PUG_PROD_ID" type="tns:char20"/>
          <xsd:element name="PLTMP" type="tns:char1"/>
          <xsd:element name="SUPPLIER" type="tns:char12"/>
          <xsd:element name="KONNR" type="tns:char10"/>
          <xsd:element name="KTPNR" type="tns:numeric5"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="_-PRP_-S_FILE_CONTENT">
        <xsd:sequence>
          <xsd:element name="DOC_TYPE" type="tns:char40"/>
          <xsd:element name="FILE_NAME" type="tns:char255"/>
          <xsd:element name="CONTENT" type="xsd:base64Binary"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="BAPIRET2">
        <xsd:sequence>
          <xsd:element name="TYPE" type="tns:char1"/>
          <xsd:element name="ID" type="tns:char20"/>
          <xsd:element name="NUMBER" type="tns:numeric3"/>
          <xsd:element name="MESSAGE" type="tns:char220"/>
          <xsd:element name="LOG_NO" type="tns:char20"/>
          <xsd:element name="LOG_MSG_NO" type="tns:numeric6"/>
          <xsd:element name="MESSAGE_V1" type="tns:char50"/>
          <xsd:element name="MESSAGE_V2" type="tns:char50"/>
          <xsd:element name="MESSAGE_V3" type="tns:char50"/>
          <xsd:element name="MESSAGE_V4" type="tns:char50"/>
          <xsd:element name="PARAMETER" type="tns:char32"/>
          <xsd:element name="ROW" type="xsd:int"/>
          <xsd:element name="FIELD" type="tns:char30"/>
          <xsd:element name="SYSTEM" type="tns:char10"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="_-PRP_-B_FILE_CONTENT">
        <xsd:sequence>
          <xsd:element name="item" type="tns:_-PRP_-S_FILE_CONTENT" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="BAPIRET2_T">
        <xsd:sequence>
          <xsd:element name="item" type="tns:BAPIRET2" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="Z_EBC_COP_PUG_CREATE_PO_V3">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="IS_PURCHASE_ORDER_DATA" type="tns:ZEBCS_COP_PUG_PURCHASE_ORDER"/>
            <xsd:element name="IT_DOCUMENTS" type="tns:_-PRP_-B_FILE_CONTENT" minOccurs="0"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Z_EBC_COP_PUG_CREATE_PO_V3Response">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="ET_RETURN" type="tns:BAPIRET2_T"/>
            <xsd:element name="EV_EBELN" type="tns:char10"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="Z_EBC_COP_PUG_CREATE_PO_V3">
    <wsdl:part name="parameters" element="tns:Z_EBC_COP_PUG_CREATE_PO_V3"/>
  </wsdl:message>
  <wsdl:message name="Z_EBC_COP_PUG_CREATE_PO_V3Response">
    <wsdl:part name="parameter" element="tns:Z_EBC_COP_PUG_CREATE_PO_V3Response"/>
  </wsdl:message>
  <wsdl:portType name="ZEBC_COP_PUG_CREATE_PO_V3">
    <wsdl:documentation>
      <sapdoc:sapdoc xmlns:sapdoc="urn:sap:esi:documentation">
        <sapdoc:docitem docURL="http://myservice.com/sap/bc/esdt/docu/sd_text?sap-client=100&amp;sd_name=ZEBC_COP_PUG_CREATE_PO_V3"/>
      </sapdoc:sapdoc>
    </wsdl:documentation>
    <wsdl:operation name="Z_EBC_COP_PUG_CREATE_PO_V3">
      <wsdl:input message="tns:Z_EBC_COP_PUG_CREATE_PO_V3"/>
      <wsdl:output message="tns:Z_EBC_COP_PUG_CREATE_PO_V3Response"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ZEBC_COP_PUG_CREATE_PO_V3" type="tns:ZEBC_COP_PUG_CREATE_PO_V3">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <wsdl:operation name="Z_EBC_COP_PUG_CREATE_PO_V3">
      <soap:operation soapAction="urn:sap-com:document:sap:rfc:functions:ZEBC_COP_PUG_CREATE_PO_V3:Z_EBC_COP_PUG_CREATE_PO_V3Request" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ZEBC_COP_PUG_CREATE_PO_V3_soap12" type="tns:ZEBC_COP_PUG_CREATE_PO_V3">
    <wsoap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <wsdl:operation name="Z_EBC_COP_PUG_CREATE_PO_V3">
      <wsoap12:operation soapAction="urn:sap-com:document:sap:rfc:functions:ZEBC_COP_PUG_CREATE_PO_V3:Z_EBC_COP_PUG_CREATE_PO_V3Request" style="document"/>
      <wsdl:input>
        <wsoap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <wsoap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ZEBC_COP_PUG_CREATE_PO_V3">
    <wsdl:port name="ZEBC_COP_PUG_CREATE_PO_V3" binding="tns:ZEBC_COP_PUG_CREATE_PO_V3">
      <soap:address location="https://myservice.com/sap/bc/srt/rfc/sap/zebc_cop_pug_create_po_v3/100/zebc_cop_pug_create_po_v3/zebc_cop_pug_create_po_v3"/>
    </wsdl:port>
    <wsdl:port name="ZEBC_COP_PUG_CREATE_PO_V3_soap12" binding="tns:ZEBC_COP_PUG_CREATE_PO_V3_soap12">
      <wsoap12:address location="https://myservice.com/sap/bc/srt/rfc/sap/zebc_cop_pug_create_po_v3/100/zebc_cop_pug_create_po_v3/zebc_cop_pug_create_po_v3"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>