cxf/ConnectivityDemos/src/com/axonivy/connectivity/ws/eon/T97_zebc_cop_pug_get_es_data_1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="urn:sap-com:document:sap:rfc:functions" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsoap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="urn:sap-com:document:sap:rfc:functions">
  <wsdl:documentation>
    <sidl:sidl xmlns:sidl="http://www.sap.com/2007/03/sidl"/>
  </wsdl:documentation>
  <wsdl:types>
    <xsd:schema attributeFormDefault="qualified" targetNamespace="urn:sap-com:document:sap:rfc:functions">
      <xsd:simpleType name="char1">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="1"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char10">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="10"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char12">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="12"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char18">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="18"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char20">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="20"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char200">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="200"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char220">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="220"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char255">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="255"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char30">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="30"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char32">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="32"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char40">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="40"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char50">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="50"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="numeric3">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="3"/>
          <xsd:pattern value="\d*"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="numeric6">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="6"/>
          <xsd:pattern value="\d*"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="quantum13.3">
        <xsd:restriction base="xsd:decimal">
          <xsd:totalDigits value="13"/>
          <xsd:fractionDigits value="3"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="quantum15.3">
        <xsd:restriction base="xsd:decimal">
          <xsd:totalDigits value="15"/>
          <xsd:fractionDigits value="3"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="unit3">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="3"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="ZEBCS_COP_PUG_ES_GET_DATA_IN">
        <xsd:sequence>
          <xsd:element name="QMNUM" type="tns:char12"/>
          <xsd:element name="PUG_CASE_ID" type="tns:char20"/>
          <xsd:element name="PUG_PROD_ID" type="tns:char20"/>
          <xsd:element name="BSTNR" type="tns:char10"/>
          <xsd:element name="PLTMP" type="tns:char1"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ZEBCS_COP_PUG_ES_COSTING_DATA">
        <xsd:sequence>
          <xsd:element name="MATNR" type="tns:char18"/>
          <xsd:element name="MAT_TXT" type="tns:char40"/>
          <xsd:element name="MBGBTR" type="tns:quantum15.3"/>
          <xsd:element name="MEINB" type="tns:unit3"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ZEBCS_COP_PUG_ES_DOCUMENT_DATA">
        <xsd:sequence>
          <xsd:element name="FILE_NAME" type="tns:char255"/>
          <xsd:element name="CONTENT" type="xsd:base64Binary"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ZEBCS_COP_PUG_ES_PURCH_DATA">
        <xsd:sequence>
          <xsd:element name="ASNUM" type="tns:char18"/>
          <xsd:element name="PQUANTITY" type="tns:quantum13.3"/>
          <xsd:element name="PUNIT" type="tns:unit3"/>
          <xsd:element name="QUANTITY" type="tns:quantum13.3"/>
          <xsd:element name="BASE_UOM" type="tns:unit3"/>
          <xsd:element name="SHORTTEXT" type="tns:char200"/>
          <xsd:element name="VALUATION" type="tns:char30"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="BAPIRET2">
        <xsd:sequence>
          <xsd:element name="TYPE" type="tns:char1"/>
          <xsd:element name="ID" type="tns:char20"/>
          <xsd:element name="NUMBER" type="tns:numeric3"/>
          <xsd:element name="MESSAGE" type="tns:char220"/>
          <xsd:element name="LOG_NO" type="tns:char20"/>
          <xsd:element name="LOG_MSG_NO" type="tns:numeric6"/>
          <xsd:element name="MESSAGE_V1" type="tns:char50"/>
          <xsd:element name="MESSAGE_V2" type="tns:char50"/>
          <xsd:element name="MESSAGE_V3" type="tns:char50"/>
          <xsd:element name="MESSAGE_V4" type="tns:char50"/>
          <xsd:element name="PARAMETER" type="tns:char32"/>
          <xsd:element name="ROW" type="xsd:int"/>
          <xsd:element name="FIELD" type="tns:char30"/>
          <xsd:element name="SYSTEM" type="tns:char10"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ZEBCB_COP_PUG_ES_COSTING_DATA">
        <xsd:sequence>
          <xsd:element name="item" type="tns:ZEBCS_COP_PUG_ES_COSTING_DATA" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ZEBCB_COP_PUG_ES_DOCUMENT_DATA">
        <xsd:sequence>
          <xsd:element name="item" type="tns:ZEBCS_COP_PUG_ES_DOCUMENT_DATA" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ZEBCB_COP_PUG_ES_PURCH_DATA">
        <xsd:sequence>
          <xsd:element name="item" type="tns:ZEBCS_COP_PUG_ES_PURCH_DATA" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="BAPIRET2_T">
        <xsd:sequence>
          <xsd:element name="item" type="tns:BAPIRET2" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="Z_EBC_COP_PUG_ES_GET_DATA">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="IS_GET_DATA_ES_IN" type="tns:ZEBCS_COP_PUG_ES_GET_DATA_IN"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Z_EBC_COP_PUG_ES_GET_DATAResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="ET_COSTING_DATA" type="tns:ZEBCB_COP_PUG_ES_COSTING_DATA"/>
            <xsd:element name="ET_DOCUMENT_DATA" type="tns:ZEBCB_COP_PUG_ES_DOCUMENT_DATA"/>
            <xsd:element name="ET_PURCHASING_DATA" type="tns:ZEBCB_COP_PUG_ES_PURCH_DATA"/>
            <xsd:element name="ET_RETURN" type="tns:BAPIRET2_T"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="Z_EBC_COP_PUG_ES_GET_DATA">
    <wsdl:part name="parameters" element="tns:Z_EBC_COP_PUG_ES_GET_DATA"/>
  </wsdl:message>
  <wsdl:message name="Z_EBC_COP_PUG_ES_GET_DATAResponse">
    <wsdl:part name="parameter" element="tns:Z_EBC_COP_PUG_ES_GET_DATAResponse"/>
  </wsdl:message>
  <wsdl:portType name="ZEBC_COP_PUG_GET_ES_DATA">
    <wsdl:documentation>
      <sapdoc:sapdoc xmlns:sapdoc="urn:sap:esi:documentation">
        <sapdoc:docitem docURL="https://myservice.com/sap/bc/esdt/docu/sd_text?sap-client=100&amp;sd_name=ZEBC_COP_PUG_GET_ES_DATA"/>
      </sapdoc:sapdoc>
    </wsdl:documentation>
    <wsdl:operation name="Z_EBC_COP_PUG_ES_GET_DATA">
      <wsdl:input message="tns:Z_EBC_COP_PUG_ES_GET_DATA"/>
      <wsdl:output message="tns:Z_EBC_COP_PUG_ES_GET_DATAResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ZEBC_COP_PUG_GET_ES_DATA" type="tns:ZEBC_COP_PUG_GET_ES_DATA">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <wsdl:operation name="Z_EBC_COP_PUG_ES_GET_DATA">
      <soap:operation soapAction="urn:sap-com:document:sap:rfc:functions:ZEBC_COP_PUG_GET_ES_DATA:Z_EBC_COP_PUG_ES_GET_DATARequest" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ZEBC_COP_PUG_GET_ES_DATA_soap12" type="tns:ZEBC_COP_PUG_GET_ES_DATA">
    <wsoap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <wsdl:operation name="Z_EBC_COP_PUG_ES_GET_DATA">
      <wsoap12:operation soapAction="urn:sap-com:document:sap:rfc:functions:ZEBC_COP_PUG_GET_ES_DATA:Z_EBC_COP_PUG_ES_GET_DATARequest" style="document"/>
      <wsdl:input>
        <wsoap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <wsoap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ZEBC_COP_PUG_GET_ES_DATA">
    <wsdl:port name="ZEBC_COP_PUG_GET_ES_DATA" binding="tns:ZEBC_COP_PUG_GET_ES_DATA">
      <soap:address location="https://myservice.com/sap/bc/srt/rfc/sap/zebc_cop_pug_get_es_data/100/zebc_cop_pug_get_es_data/zebc_cop_pug_get_es_data"/>
    </wsdl:port>
    <wsdl:port name="ZEBC_COP_PUG_GET_ES_DATA_soap12" binding="tns:ZEBC_COP_PUG_GET_ES_DATA_soap12">
      <wsoap12:address location="https://myservice.com/sap/bc/srt/rfc/sap/zebc_cop_pug_get_es_data/100/zebc_cop_pug_get_es_data/zebc_cop_pug_get_es_data"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>